.options-class input {
  width: 101px !important;
}
.kuc-base-error-1-18-0__error{
  width: 101px !important;
  /* height: 71px !important; */
}
.custom-confirm-button {
  color: #f7f9fa !important;
}

.custom-cancel-button {
  color:  #3498db!important;
}

.swal2-content {
  padding: 0px !important;
  
}

.control-etc-gaia.control-spacer-field-gaia {
  width: 117px !important;
}

.label-and-date{
  display: flex;
  flex-direction: column;
}

.custom-space-el {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  gap: 7px;
  margin-top: -20px;
}

.custom-input-date{
  display: flex;
  position: relative;
}

.popup {
  position: absolute; 
  top: 5px;
  left: 100%;   
  z-index: 999; 
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 7px;
}

.search{
  margin-top: 40px;
}
.cancel{
  margin-top: 40px;
}

.input-date-text-cybozu.exact{
  width: 100px;
}

.input-date-text-cybozu.range{
  width: 100px;
}

.input-error.search{
  display: flex;
  margin-top: 3px;
  width: 100px;
  align-items: flex-start;
  justify-content: center;
  background-color: #e74c3c;
}

.input-date-cybozu{
  height: 38px;
}

.input-error.search span{
  display: flex;
  margin: 0;
  width: 65px;
  align-items: flex-start;
  justify-content: left;
  color: rgb(255, 255, 255);
  height: 30px;
}

.date-range{
  height: 38px;
}